
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll !important; 
    overflow-x: hidden; 
    box-sizing: border-box;
}

.form-container {
    max-width: 1000px;
    min-width: 650px;
    margin: 40px auto; 
    margin-top: 700px !important;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.form-container-v {
    max-width: 1000px;
    min-width: 650px;
    margin: 40px auto;
    margin-top: 100px !important;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    color: #055555;
    font-size: 28px; 
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 50px;
}


.form-subtitle {
    text-align: center;
    color: #666;
    font-size: 16px; 
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}


.form-input {
    width: 100%;
    padding: 12px; 
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.form-textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 100px; 
    box-sizing: border-box;
    resize: vertical; 
}

.form-button {
    background-color: #055555;
    color: white;
    border: none;
    padding: 12px; 
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    width: 100%;
}

.form-button:disabled,
.disabled-button {
    background-color: gray;
    cursor: not-allowed;
    color: #d3d3d3;
}

.form-button-before:hover{
    background-color: #008080;
}
.form-button-before{
    width: 25%;
    padding: 12px; 
    background-color: #055555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px; 
    margin-bottom: 13px;
}
#profile-p{
    margin-top: -1.2em;
}

.error-border {
    border: 2px solid rgb(250, 161, 161);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 2px;
}


.vehicle-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.vehicle-buttons {
    display: flex;
    justify-content: space-between;
}

.vehicle-buttons .form-button {
    width: 48%;
}



@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 10px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-subtitle {
        font-size: 14px;
    }

    .form-label {
        font-size: 12px;
    }

    .form-input, .form-textarea {
        font-size: 12px;
    }

    .form-button {
        font-size: 14px;
    }
}
