.header {
    height: 14.5em;
    background: linear-gradient(rgb(5, 5, 95), rgb(75, 137, 231));
    display: flex; 
    justify-content: space-between; 
    padding:0; 
}
.Comlogo{
    width: 10em;
    height: 10.5em;
    padding: 2em 3em;
    align-items: center;
}

.header-info{
    color:  #f0f8ff;
    margin: 4.4em;
    align-items: center;
    font-weight: 600;
}

.header-info p{
    margin-top: 0.3em;
    margin-bottom: 0;
}



@media (max-width: 50%) {
    .Comlogo {
        width: 8em; 
    }

    .header-info {
        margin-right: 3em; 
    }

    .header-info p {
        font-size: 1em;
    }
}


