.owner-heading {
    margin: 1.5rem;
}

input, select {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1.5rem;
}

.ownersTable { 
    width: 100%; 
    border-collapse: collapse; /* Standard border style */ 
    border: 1px solid #ccc; /* Border for the table */ 
    text-align: left;
}

.ownersTable thead {
    background-color: #d6d4d4;
}

.ownersTable tbody tr :hover {
    background-color: #f3f0f0;
}

.ownersTable th, .ownersTable td {
    padding: 0.75rem; 
    border: 1px solid #e8e5e5; /* Border for table cells */ 
    text-align: left; 
}

.Active {
    color: green;
}

.Inactive {
    color: red;
}
