body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  .navBar {
    background-color: #003366;
    color: white;
    padding: 1.2em 0em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4em;
  }
  
  .navButtons {
    display: flex;
    gap: 0; 
    flex: 1;
    justify-content: space-evenly; 
  }
  
  .nav-btn {
    margin: 0.5em 1.5em; 
    padding: 0.625em 1.5em;
    font-size: 1em;
    font-family: inherit;
    color: white;
    background-color: #003366;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-btn:hover {
    background-color: white;
    padding: 10px 30px;
    color: #003366; 
  }

  @media (min-width: 791px) {
    .nav-btn {
      padding: 1.2em 1.5em;
    }
  }
  
  .logout-btn {
    padding: 10px 20px;
    background-color: red; 
    color: white;
  }
  
  .logout-btn:hover {
    background-color: red; 
    color: black;
  }
  